PORT=3000
NODE_ENV=development

POSTGRES_USER=career_user
POSTGRES_PASSWORD=career_password
POSTGRES_DB=career_tracker_db
POSTGRES_PORT=5432

DATABASE_URL=example

JWT_SECRET=replace_with_a_secure_secret
JWT_EXPIRES_IN=1d